{% extends "padre_inicio.html"%}
{% load static %}
{% block title %} Habilitar insumos {% endblock %}

{% block content%}


<div class="card mb-4">
	<div class="card-header text-center align-items-center">
		<h5 class="card-title">Solicitudes</h5>
	</div>
	<div class="card-body">
		<div class="table-container">
			<table class="table table-striped">
				<thead>
					<!--EN CASO QUIERAS COLUMNAS-->
					<tr>
						<th>Nombre de la Solicitud</th>
						<th>Revisar PDF</th>
						<th>solicitante</th>
						<th>Inventario</th>
					</tr>
				</thead>
				<tbody>
					{% for objeto in solicitudes_nuevas %}
					<tr>
						<td>
						<a href="{% get_media_prefix %}solicitudes/{{ objeto.solicitud }}" class="btn btn-link text-decoration-none text-secondary" target="_blank">{{ objeto.solicitud }}</a>
						</td>
						<td>
						<a href="{% get_media_prefix %}solicitudes/{{ objeto.solicitud }}" class="btn btn-primary" target="_blank">Revisar PDF</a>
						</td>
						<td>
						<a>{{objeto.emisor_id.first_name}}</a>
						<a>{{objeto.emisor_id.last_name}}</a>
						</td>
						
						<td>
						<a>
						{% for inventario in inventario_usuarios %}
							{% if inventario.auth_user_id_id == objeto.emisor_id.id %}
								{{ inventario.nombre }}
							{% endif %}
						{% endfor %}
						</a>
						<td>
							<form method="post" action="{% url 'habilitar_solicitud' objeto.id %}">
								{% csrf_token %}
								<button type="submit" class="btn btn-success">Habilitar</button>
							</form>
						</td>
						<td>
							<form method="post" action="{% url 'rechazar_solicitud' objeto.id %}">
								{% csrf_token %}
								<button type="submit" class="btn btn-danger">Rechazar</button>
							</form>
						</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>              
	</div>
</div>



{% endblock%}